<br><br>
<center><font size='5'><b>파이썬 코딩도장</b></font>

# Unit8. Boolean과 비교, 논리 연산자

- True, False를 나타내는 Boolean

## Boolean과 비교 연산자

In [1]:
True

True

In [2]:
False

False

### 비교 연산자 판단 결과 

- 부등호
- ```==``` : equal
- ```!=``` : not equal
  - 숫자뿐만 아니라 문자열에서도 가능

In [7]:
3 > 1

True

In [8]:
10 == 10 # 두 숫자가 같은지

True

In [9]:
10 != 5 # 두 숫자가 다른지

True

In [10]:
'Python' == 'Python'

True

In [11]:
'Python' == 'python'

False

### 객체가 같은지 다른지 비교하기

- 값 자체를 비교하는게 아니라 객체(object)를 비교한다
- is or is not

In [12]:
1 == 1.0

True

In [13]:
1 is 1.0 

# 1은 정수 객체
# 1.0은 실수 객체

False

In [14]:
1 is not 1.0

True

## 논리 연산자 

- and / or / not
- not -> and -> or 순으로 판단한다

In [17]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [18]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [19]:
print(not True)
print(not False)

False
True

In [20]:
not True and False or not False

True

### 논리 연산자 + 비교 연산자

In [21]:
10 == 10 and 10 != 5

True

## 정수, 실수, 문자열을 boolean으로 만들기 

- 정수 0, 실수 0.0, 빈문자열 제외하고는모두 True!

In [26]:
bool(1)

True

In [27]:
bool(0)

False

In [28]:
bool(1.5)

True

In [29]:
bool('False')

True

# Unit9. 문자열 사용하기 

## 문자열 사용하기

In [30]:
hello = 'Hello, world!'
hello

'Hello, world!'

In [48]:
print('Hello, world!') # 위와의 차이

Hello, world!

In [31]:
hello = '안녕'
hello

'안녕'

In [32]:
hello = "Hello, world!" # 큰따옴표도 묶이고
hello

'Hello, world!'

In [34]:
hello = '''Hello, world!'''
hello = """Hello, world!""" # 작은따옴표, 큰따옴표 3개씩으로도 묶인다
hello

'Hello, world!'

### 여러 줄로된 문자열 

- 작은 따옴표 3개랑 enter

In [39]:
hello = '''hello, world!
안녕하세요.
python입니다.'''
hello

'hello, world!\n안녕하세요.\npython입니다.'

In [40]:
print(hello)

hello, world!
안녕하세요.
python입니다.

### 문자열 안에 작은따옴표나 큰따옴표 포함하기

- 문자열안에 작은따옴표를 넣고싶다면 문자열을 큰따옴표로 묶어준다
- 반대의 경우 반대로 하면 됨
- __여러 줄로 된 문자열은 상관 없다__

In [44]:
s = "Python isn't difficult"
s

"Python isn't difficult"

In [45]:
a = 'i said "python is easy"'
a

'i said "python is easy"'

In [46]:
quote = '''"안녕하세요."
'파이썬'입니다.'''

print(quote)

"안녕하세요."
'파이썬'입니다.

# Unit10. 리스트와 튜플 사용하기

## 리스트 만들기 

- 리스트 = [값,값,값]
- 리스트에 저장된 각 값을 element(요소)라고 함.

In [1]:
a = [38,21,53,62,19]
a

[38, 21, 53, 62, 19]

### 리스트에 여러가지 자료형 저장하기

In [2]:
person = [17, 15.3, 'James', True]
person

[17, 15.3, 'James', True]

### 빈 리스트 

- 리스트 = []
- 리스트 = list()

In [3]:
a = []
a

[]

In [5]:
a = list()
a

[]

### range 사용하여 리스트 만들기 

- range(시작, 끝)
- range(시작, 끝, 증가폭)
  - 증가폭을 음수로 설정할 수도 있음

In [10]:
a = range(10) # 0~9
a

range(0, 10)

In [11]:
# 리스트에 range(10)을 넣어보면 0~9 들어있는 리스트가 생성됨

a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
b = list(range(-1,2))
b

[-1, 0, 1]

In [13]:
c = list(range(-4, 10, 2))
c

[-4, -2, 0, 2, 4, 6, 8]

In [14]:
d = list(range(10,0,-1))
d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 튜플 사용하기

Tuple은 리스트처럼 요소를 일렬로 저장하지만 안에 저장된 요소를 변경, 추가, 삭제할 수 없음(읽기 전용 리스트)

__보통 튜플은 요소가 절대 변경되지 않고 유지되어야 할 때 사용__

- 튜플 = (값,값,값)
- 튜플 = 값,값,값

In [15]:
a = (10,20,30,40)
a

(10, 20, 30, 40)

In [16]:
a = 10,20,30,40
a

(10, 20, 30, 40)

In [18]:
a = ('james', 17, 15.4, True)
a

('james', 17, 15.4, True)

### element가 한 개인 튜플

값이 아닌 튜플을 넣어야 할 경우가 새겨서, 그냥 튜플 형태를 유지하기 위한 문법임.

- 튜플 = (값,)
- 튜플 = 값,

In [20]:
(38) # 콤마를 안 넣으면 튜플이 아니라 그냥 값이 됨

38

In [21]:
(38,)

(38,)

In [22]:
38,

(38,)

### range를 사용하여 튜플 만들기

- 튜플 = tuple(range(끝))
- 튜플 = tuple(range(시작, 끝))
- 튜플 = tuple(range(시작, 끝, 증가폭))

In [23]:
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [24]:
a = tuple(range(-1,2))
a

(-1, 0, 1)

In [25]:
a = tuple(range(10,2,-2))
a

(10, 8, 6, 4)

### 튜플->리스트, 리스트->튜플

In [26]:
a = [1,2,3]
tuple(a)

(1, 2, 3)

In [28]:
b = (4,5,6)
list(b)

[4, 5, 6]

### list, tuple 안에 문자열을 넣으면?

In [30]:
list('hello, world!')

['h', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!']

In [31]:
tuple('hello, world!')

('h', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!')

### 리스트와 튜플로 변수 만들기

- called 'list unpacking', 'tuple unpacking'

In [33]:
a,b,c = [1,2,3]
print(a,b,c)

d,e,f = (1,3,4)
print(d,e,f)

1 2 3
1 3 4

# Unit11. 시퀀스 자료형 활용하기

- 리스트, 튜플, range, 문자열처럼 값이 연속적으로 이어진 자료형을 sequence type이라고 부름

## 시퀀스 자료형 공통 기능 사용하기

### 특정 값이 있는지 확인하기

- 값 in 시퀀스객체 : 있는지 확인
- 값 not in 시퀀스객체 : 특정값이 없는지 확인

In [37]:
a = list(range(0,100,10))

30 in a

True

In [38]:
100 in a

False

In [39]:
100 not in a

True

In [40]:
30 not in a

False

In [41]:
# 시퀀스 타입인 튜플, range, 문자열도 같은 방법 가능

43 in (38,13,12,42)
1 in range(10)
'P' in 'Hello, Python'

True

### 시퀀스 객체 연결하기

- 시퀀스객체1 + 시퀀스객체2

In [42]:
a = [0,1,2,3]
b = [-1,3,4,5]
a + b

[0, 1, 2, 3, -1, 3, 4, 5]

In [43]:
# 단, range끼리는 + 연산자로 연결할 수 없음
# range를 리스트 또는 튜플로 만들어서 연결해야 함

range(0,10) + range(10,20)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [44]:
list(range(0,10)) + list(range(10,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [46]:
'Hello ' + 'World' + '!'

'Hello World!'

In [47]:
# 문자열에 숫자를 연결할때는 str를 사용하여 문자열로 반환해줘야 함

'Hello' + 10

TypeError: can only concatenate str (not "int") to str

In [48]:
'Hello' + str(10)

'Hello10'

### 시퀀스 객체 반복하기 

- 정수만큼 곱해주기

In [49]:
[11,12,13]*3

[11, 12, 13, 11, 12, 13, 11, 12, 13]

In [50]:
# range는 * 연산자를 사용하여 반복할수 없음!

range(0,5)*2

TypeError: unsupported operand type(s) for *: 'range' and 'int'

In [51]:
list(range(0,3))*2

[0, 1, 2, 0, 1, 2]

In [52]:
tuple(range(0,3))*2

(0, 1, 2, 0, 1, 2)

In [54]:
'Hello~ '*3

'Hello~ Hello~ Hello~ '

## 시퀀스 객체의 요소 개수 구하기

### 리스트, 튜플, range 요소 개수 및 문자열 길이 구하기

- len(시퀀스객체)

In [55]:
a = [2,3,45,5,5]
len(a)

5

In [56]:
b = (1,2,3,4,5)
len(b)

5

In [57]:
len(range(0,100,30))

4

In [60]:
h = 'Hello, world!'
len(h) #콤마, 공백, 느낌표도 포함

13

## 인덱스 사용하기 

- 시퀀스객체[인덱스]
- 인덱스는 항상 0부터 시작

In [61]:
a = [10,20,30,100,1000]

a[0]

10

In [62]:
a[4]

1000

In [63]:
r = range(-100,100,5)
r[10]

-50

### 음수 인덱스 지정하기  

- 반대 방향으로

In [65]:
a = [38,21,53,62,19]
a[-2]

62

### 마지막 요소에 접근하기

In [67]:
a = list(range(0,100))
a[len(a)-1]

99

### 요소에 값 할당하기

- __리스트를 제외한 튜플, range, 문자열은 안에 저장된 요소를 변경할 수 없음!__

In [68]:
a = [0,0,0,0,0]
a[0] = 23
a[-1] = 23

a

[23, 0, 0, 0, 23]

### del로 요소 삭제하기 

- del 시퀀스객체[인덱스]

In [70]:
a = [32,34,35,31,40]

del a[-2]
a

[32, 34, 35, 40]

## Slice 사용

- 시퀀스객체[시작인덱스:끝인덱스]
  - a[0:4] : 인덱스 0부터 3(4-1)까지 잘라서 새 리스트를 만든다.
  
- 튜플, range, 문자열에 슬라이스 사용도 똑같은 방식

In [75]:
a = list(range(0,100,10))
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [76]:
a[0:4]

[0, 10, 20, 30]

In [77]:
a[1:1] # 인덱스 1부터 0까지(1-1) 잘라서 새 리스트 만듦

[]

In [78]:
a[1:2]

[10]

In [79]:
a[4:-1] # 인덱스 4부터 -2까지 잘라서 가져옴

[40, 50, 60, 70, 80]

### 인덱스 증가폭 사용하기 

- 시퀀스객체[시작 : 끝 : 인덱스증가폭]

In [80]:
a = list(range(0,100,10))
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [81]:
a[2:8:3] #인덱스 2부터 3씩 증가시키면서 7까지 가져옴

[20, 50]

### 인덱스 생략하기

In [82]:
a[:7] # 인덱스 처음부터 6까지

[0, 10, 20, 30, 40, 50, 60]

In [83]:
a[3:] # 인덱스 3부터 끝까지

[30, 40, 50, 60, 70, 80, 90]

In [84]:
a[:] # 전부다
# a[::] 와 결과가 같다.

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [85]:
a[:7:2] # 인덱스 처음부터 6까지 2씩 증가하면서

[0, 20, 40, 60]

In [86]:
a[7::2] # 인덱스 7부터 끝까지 2씩 증가하면서

[70, 90]

In [87]:
a[::2] # 전체를 2씩 증가하면서

[0, 20, 40, 60, 80]

### len 응용

In [88]:
a = list(range(0,100,10))

a[0:len(a)]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [89]:
a[:len(a)]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

### slice를 바로 사용할 수도 있음

In [93]:
a = list(range(0,100,10))
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [94]:
list(range(0,100,10))[slice(4,7,2)]

[40, 60]

### 슬라이스에 요소 할당하기

- 슬라이스의 증가폭을 설정할 때에만 갯수가 일치해야한다.

In [95]:
a = list(range(0,100,10))
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [97]:
a[2:5] = ['lee','kim']
a
# 갯수를 맞추지 않아도 무관함

[0, 10, 'lee', 'kim', 60, 70, 80, 90]

In [98]:
a = list(range(0,100,10))
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [99]:
a[2:8:2] = ['a','b','c']
a

[0, 10, 'a', 30, 'b', 50, 'c', 70, 80, 90]

### del로 슬라이스 삭제하기

In [100]:
a = list(range(0,100,10))
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [101]:
del a[0:3]
a

[30, 40, 50, 60, 70, 80, 90]

In [102]:
a = list(range(0,100,10))
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [103]:
del a[5:-1]
a

[0, 10, 20, 30, 40, 90]

# Unit12. 딕셔너리 사용하기

- 연관된 값을 묶어서 저장하는 용도.

## 딕셔너리 만들기 

- 딕셔너리 = {key1: 값1, key2:값2}

In [104]:
lux = {'health':490, 'mana':334, "melee":550, "armor":18}

In [105]:
lux

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18}

### 키 이름이 중복되면?

key가 중복되면 가장 뒤에 있는 값만 저장함

In [106]:
lux = {'health':490, 'health': 800, 'mana':334, "melee":550, "armor":18}

In [107]:
lux

{'health': 800, 'mana': 334, 'melee': 550, 'armor': 18}

### 딕셔너리 key의 자료형

- key : 문자열, 정수, 실수, 불리안 등 사용할 수 있으며(key에는 리스트와 딕셔너리는 사용 불가)
- 값 : 모든 자료형 사용 가능

In [108]:
x = {100: 'lee', False : 0, 3.5 : [3.5, 3.5]}

In [109]:
x

{100: 'lee', False: 0, 3.5: [3.5, 3.5]}

### 빈 딕셔너리 만들기

- 딕셔너리 = {}
- 딕셔너리 = dict()

### dict로 딕셔너리 만들기

- 딕셔너리 = dict(key1=값1, key2=값2)
- 딕셔너리 = dict(zip([key1,key2], [값1,값2])
- 딕셔너리 = dict([(key1,값1), (key2, 값2)])
- 딕셔너리 = dict({key1:값1, key2:값2})

In [110]:
lux1 = dict(heatlh=400, mana=334, melee=500, armor=18)
lux1

{'heatlh': 400, 'mana': 334, 'melee': 500, 'armor': 18}

In [111]:
lux2 = dict(zip(['health','mana','armor'], [400,223,112]))
lux2

{'health': 400, 'mana': 223, 'armor': 112}

## 딕셔너리 key에 접근하고 값을 할당하기

- []대괄호 후에 key를 지정해주기

In [112]:
lux = {'health':490, 'mana':334, "melee":550, "armor":18}

In [113]:
lux['health']

490

In [115]:
lux['mana']

334

### 딕셔너리 key에 값 할당하기

In [116]:
lux = {'health':490, 'mana':334, "melee":550, "armor":18}

In [117]:
lux['health'] = 2000 # key 'health'의 값을 2000으로 변경

In [118]:
lux

{'health': 2000, 'mana': 334, 'melee': 550, 'armor': 18}

In [119]:
lux['add'] = 190 # 딕셔너리에 없는 key 값을 할당하면 추가가 됨

In [120]:
lux

{'health': 2000, 'mana': 334, 'melee': 550, 'armor': 18, 'add': 190}

### 딕셔너리에 키가 있는지 확인하기

key in 딕셔너리

In [121]:
'health' in lux

True

In [122]:
'added' in lux

False

In [123]:
'health' not in lux

False

### key 갯수를 구하기

- len(딕셔너리)

In [124]:
lux

{'health': 2000, 'mana': 334, 'melee': 550, 'armor': 18, 'add': 190}

In [125]:
len(lux)

5